.container {
    display: flex;
    flex-direction: row;

}
.field {
    background-color: gray;
    /* height: ; */
    width: 50vw;
    position: relative;

}
.manage {
    /* background-color: green; */
    height: 90px;
    width: 50%;
}
.human {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.ill {
    background-color: red;
}